@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  body,p{
    font-family: var(--font-ubuntu), sans-serif;
  }

  h1, h2, h3, h4 {
    font-family: var(--font-bricolage), sans-serif;
  }
}

* {

  box-sizing: border-box;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.scroll-stack-container {
  position: relative; 
  height: auto;   
}

html {
  scroll-behavior: smooth;
}

/* marquee keyframes & class */
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* apply to the row that contains duplicated logos */
.animate-marquee {
  display: flex;
  align-items: center;
  /* animation duration: change 20s to speed up/slow down */
  animation: marquee 20s linear infinite;
  will-change: transform;
}


